html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: teal;
    color: white;
}

.primary-navigation {
    float: right;
    margin-top: 30px;
    text-align: right;
    width: 70%;
}
